# Compiled source #
###################
*.o
*.mod

# tmp files #
############
*~

# Makefiles #
#############


# Input files #
###############


# Exclude some folders #
########################
data/
work/
bin/

